/* header */

.d-flex {
  display: flex;
}

.text-decoration {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}
.logo {
  margin-left: 200px;
}

.j-center {
  justify-content: center;
}

.j-between {
  justify-content: space-between;
}

.j-evenly {
  justify-content: space-evenly;
}

.j-around {
  justify-content: space-around;
}

.a-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

a {
  font-family: "Cormorant Garamond", sans-serif;
  color: #b08ead;
  font-weight: 500;
  font-size: 24px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.nav {
  margin-left: 400px;
}

.cart {
  margin-left: 50px;
}

/* main */
.main-1 {
  position: relative;
  width: 100vw;
  height: 745px;
  padding-top: 72px;
}

.bg-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 56%;
  background-color: #c9adc6;
}

.bg-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 44%;
  background-color: #d6bbd3;
}

.container-img {
  position: absolute;
  height: 675px;
  width: 782px;
  background-image: url(https://assets.website-files.com/5bd86c52b7abc5114b2ed43c/5bd8a753b7abc549d52f2255_noah-buscher-1118080-unsplash.jpg);
  top: 72px;
  background-size: 1000px;
  background-repeat: no-repeat;
  left: 300px;
}

.container-img:hover {
  transition-duration: 0.2s;
  z-index: 1;
  background-image: url(https://assets.website-files.com/5bd86c52b7abc5114b2ed43c/5bd90a8aef82dc5918248baa_cushion.jpg);
}

.d-flex {
  display: flex;
}

.container-word {
  position: absolute;
  width: 312px;
  height: 450px;
  background-color: #b08ead;
  z-index: 1;
  right: 370px;
  top: 180.5px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
}

.mini-title {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 13.5px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 20px;
}

.h1-title {
  font-family: "Cormorant Garamond", sans-serif;
  color: #fff;
  font-size: 45px;
  line-height: 55px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 50px;
}

.text-link {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 13.5px;
  letter-spacing: 1.5px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: 2px solid white;
}

.arrow-left {
  position: absolute;
  font-size: 22px;
  color: white;
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: #b08ead;
  right: 420px;
  bottom: 0;
}

.arrow-right {
  position: absolute;
  font-size: 22px;
  color: white;
  width: 50px;
  height: 50px;
  background-color: #b08ead;
  right: 370px;
  bottom: 0;
  text-align: center;
}

.mb-20 {
  margin-bottom: 20px;
}

.content-section {
  overflow: hidden;
  padding-top: 75px;
  padding-bottom: 75px;
}

.content-wrapper {
  position: relative;
  width: 100%;
  max-width: 1265px;
  padding-right: 25px;
  padding-left: 25px;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.center-box {
  display: block;
  width: 65%;
  max-width: 820px;
  margin-right: auto;
  margin-left: auto;
  font-family: Roboto, sans-serif;
  color: #b99bb6;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.mini-title-1 {
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  color: #b99bb6;
  font-size: 13.5px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.intro-paragraph {
  font-family: "Cormorant Garamond", sans-serif;
  color: #5f4d5d;
  font-size: 26px;
  line-height: 38px;
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: none;
}

.top-border._20 {
  margin-top: 20px;
}

.button {
  width: 83px;
  height: 19px;
  border: 1px solid #b99bb6;
  padding: 15px 28px 15px 28px;
  border-radius: 25px;
  font-family: Roboto, sans-serif;
  color: #b99bb6;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.5px;
  text-decoration: none;
}

.button:hover {
  background-color: #b99bb6;
  color: white;
  transition-duration: 0.5s;
}

.top-border-75 {
  margin-top: 75px;
}

.container-75 {
  width: 100%;
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;
}

.link {
  width: 300px;
  height: 395px;
  background-color: #ceb3cb;
}

.img-1 {
  background-image: url(https://assets.website-files.com/5bd86c52b7abc5114b2ed43c/5bd892e61cab6c8d61313a06_1.png);
  width: 300px;
  height: 282px;
  background-size: 300px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.img-1:hover {
  transform: scale(1.1);
}

.img-2:hover {
  transform: scale(1.1);
}

.img-3:hover {
  transform: scale(1.1);
}

.intro-text-box {
  padding: 23px;
  background-color: #ceb3cb;
}

.title-link-1 {
  font-family: "Cormorant Garamond", sans-serif;
  color: #fff;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  text-decoration: none;
}

.top-border._5 {
  margin-top: 5px;
}

.text-link-1 {
  font-family: "Cormorant Garamond", sans-serif;
  color: #fff;
  font-size: 19px;
  font-style: italic;
  font-weight: 600;
  text-decoration: none;
}

.img-2 {
  background-image: url(https://assets.website-files.com/5bd86c52b7abc5114b2ed43c/5bd892e6e7345f8606c14439_2-p-500.png);
  width: 300px;
  height: 282px;
  background-size: 300px;
  background-repeat: no-repeat;
}

.img-3 {
  background-image: url(https://assets.website-files.com/5bd86c52b7abc5114b2ed43c/5bd892e6b7abc54c782f11a0_3.png);
  width: 300px;
  height: 282px;
  background-size: 300px;
  background-repeat: no-repeat;
}

.content-section-1 {
  width: 100vw;
  height: 675px;
  padding-top: 75px;
  padding-bottom: 75px;
  margin-bottom: 10px;
  background-color: #ceb3cb;
  position: relative;
}

.item-1 {
  position: absolute;
  width: 300px;
  height: 450px;
  padding-left: 57px;
  padding-right: 50px;
  background-color: #b08ead;
  z-index: 2;
  top: 185px;
  left: 450px;
}

.h1-white {
  font-family: "Cormorant Garamond", sans-serif;
  color: #fff;
  font-size: 45px;
  line-height: 55px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 50px;
}

.mini-title-2 {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 13.5px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 20px;
}

.item-2 {
  position: absolute;
  width: 540px;
  height: 675px;
  background-image: url(https://assets.website-files.com/5bd86c52b7abc5114b2ed43c/5bd8dbaf557faed0e04aded5_4.png);
  z-index: 1;
  background-size: 530px;
  background-repeat: no-repeat;
  top: 75px;
  right: 400px;
}

.content-section-2 {
  padding-top: 75px;
  padding-bottom: 75px;
  margin-bottom: 15px;
}

.conten-item {
  position: relative;
  width: 100vw;
  padding-right: 25px;
  padding-left: 25px;
}

.box-1 {
  width: 75vw;
  height: 382px;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 70px;
  display: flex;
  border-bottom: 3px solid #d6bbd3;
}

.box-word {
  padding: 75px;
  box-sizing: border-box;
  text-align: left;
  box-sizing: border-box;
}

.word-title {
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  color: #b99bb6;
  font-size: 13.5px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.word-p {
  font-family: "Cormorant Garamond", sans-serif;
  color: #5f4d5d;
  font-size: 24px;
  line-height: 30px;
}

.img-box-1 {
  box-sizing: border-box;
  padding: 75px;
  border: 17px solid #d6bbd3;
  background-size: 50px
  background-repeat: no-repeat;
  background-image: url(https://assets.website-files.com/5bd86c52b7abc5114b2ed43c/5bd8dbafef82dc4bd8245d41_nathan-fertig-249917-unsplash.jpg);
}


.img-box-2 {
  box-sizing: border-box;
  padding: 75px;
  border: 17px solid #d6bbd3;
  background-size: 100px
  background-repeat: no-repeat;
  background-image: url(https://assets.website-files.com/5bd86c52b7abc5114b2ed43c/5bd8dbaf49a14257198e81cb_6-p-800.jpeg);
}

.item-4 {
  position: absolute;
  width: 540px;
  height: 675px;
  background-image: url(https://assets.website-files.com/5bd86c52b7abc5114b2ed43c/5bd8e067cf26d350857abf3a_7.jpg);
  z-index: 1;
  background-size: 530px;
  background-repeat: no-repeat;
  top: 75px;
  /* right: 400px; */
  left: 450px;
}

.item-3 {
  position: absolute;
  width: 300px;
  height: 450px;
  padding-left: 57px;
  padding-right: 50px;
  background-color: #b08ead;
  z-index: 2;
  top: 185px;
  right: 400px;
  /* left: 450px; */
}

.container-row{
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.row-flex{
  display: flex;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  
}

.img{
  overflow: hidden;
}

.img:hover{
  transform: scale(1.1);
}

.word-title{
  text-align: center;
}

.coat{
  text-align: center;
}

.p-5{
  padding: 5px;
}

.mb-5{
  margin-bottom: 5px;
}

.mr-20{
  margin-right: 20px;
}

.mb-25{
  margin-bottom: 25px;
}

form{
  margin-top: 60px;
  height: 100%;
  background-color: #ceb3cb;
}

.h3{
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 13.5px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.x{
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

.y{
  color: #fff;
  font-size: 22.5px;
  font-family: 'Cormorant Garamond', sans-serif;
  line-height: 30px;
}

.mt-20{
  margin-top: 20px;
}

.input{
  width: 240px;
  height: 30px;
  border: 1px solid white;
  padding: 10px;
  margin-top: 30px;
  margin-right: 30px;
  background-color: #ceb3cb;
  color: white;
}

.input-1{
  border: 1px solid white;
  height: 40px;
  width: 540px;
  padding: 10px;
  padding-top: 30px;
  margin-top: 30px;
  margin-right: 30px;
  background-color: #ceb3cb;
  color: white;
}

footer{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #c9adc6;
}

.text-w{
  color: white;
}

.text{
  text-decoration: none;
  padding: 10px;
  margin-right: 15px;
}

.icon-1{
  padding: 10px;
  margin-right: 10px;
  width: 80px;
  height: 80px;
  border: 1px solid #c9adc6;
  border-radius: 100%;
  color: white;
  background-color: #5f4d5d;
}

.icon-1:hover{
  background-color: #b08ead;
  color: black;
}